/* based on https://github.com/jgm/pandoc/blob/c9cb313a479f3d134d5df1cffe5e340034fb44b4/data/epub.css */
body { text-align: justify; font-size: medium; }
code { font-family: monospace; word-wrap: break-word }
h1 { text-align: left; }
h2 { text-align: left; }
h3 { text-align: left; }
h4 { text-align: left; }
h5 { text-align: left; }
h6 { text-align: left; }
h1.title { }
h2.author { }
h3.date { }
ol.toc { margin-left: 7%; margin-right: 7%; }
ol.toc li { list-style-type: decimal; margin: 0; padding: 0; }
a.footnoteRef { vertical-align: super; }

pre { text-align: left; white-space: pre-wrap; font-size: 0.92em}
